<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>buzzerpromax</string>
			</array>
		</dict>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Buzzer Pro Max needs your network to start sessions</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_sg-tk-buzzer._tcp</string>
		<string>_sg-tk-buzzer._udp</string>
	</array>
</dict>
</plist>
